<section class="task-template-component">
  <section class="header-info">
    <span class="title-text">任务模板</span>
  </section>
  <section class="context-info">
    <section class="itro-text">
      <span class="label-text">1.在发布任务时，可以选择是否将该次发布的任务保存为任务模板；</span>
      <span class="label-text">2.如果您已经保存了任务模板，这次发布相同的任务就可以选择“从任务模板中创建”，为您省时省力，方便快捷！</span>
    </section>
    <section class="filter-form">
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label>任务搜索</nz-form-label>
          <nz-form-control class="custom-search-group" [nzSm]="21" [nzXs]="24">
            <nz-select class="custom-select-input" formControlName="platformId">
              <nz-option [nzLabel]="option.title" [nzValue]="option.id" *ngFor="let option of platformConfig"></nz-option>
            </nz-select>
            <nz-input-group nzSearch [nzAddOnAfter]="addOnAfterTemplate">
              <input type="text" class="custom-search-input" nz-input formControlName="templateTitle" placeholder="请输入模板名称" />
            </nz-input-group>
            <ng-template #addOnAfterTemplate>
              <button nz-button nzType="primary" type="submit" nzSearch>搜索</button>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </form>
    </section>
    <section class="context-list">
      <nz-table
        #borderedTable
        nzBordered
        [nzLoading]="renderConfig.loading"
        [nzTotal]="renderConfig.total"
        [nzPageSize]="renderConfig.pageSize"
        [nzPageIndex]="renderConfig.pageNum"
        nzBordered
        [nzScroll]="{ x: '1200px' }"
        (nzQueryParams)="onQueryParamsChange($event)"
        [nzData]="renderInfoArray">
        <thead>
          <tr>
            <th nzAlign="center">序号</th>
            <th nzAlign="center">任务区</th>
            <th nzAlign="center">主图</th>
            <th nzAlign="center">模板名称</th>
            <th nzAlign="center">掌柜名称</th>
            <th nzAlign="center">商品网址</th>
            <th nzAlign="center">价格</th>
            <!-- <th>好评时限</th> -->
            <th nzAlign="center">添加时间</th>
            <th nzAlign="center" nzRight>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of borderedTable.data; let idx = index;">
            <td nzAlign="center">{{ idx + 1 }}</td>
            <td nzAlign="center">{{ data.platformTitle }}</td>
            <td nzAlign="center">
              <img nz-image class="image-info" [nzSrc]="data.image" />
            </td>
            <td nzAlign="center">{{ data.templateTitle }}</td>
            <td nzAlign="center">{{ data.shopTitle }}</td>
            <td nzAlign="center">
              <a nz-button nzType="link" [attr.data-url]="data.url" (click)="onCopyClipboardChange(data.url)">点击复制网址</a>
            </td>
            <td nzAlign="center">{{ data.unitPrice|price }}</td>
            <!-- <td>{{ data.praiseLimit }}</td> -->
            <td nzAlign="center">{{ data.createTime }}</td>
            <td nzAlign="center" nzRight>
              <a nz-popconfirm
                nzPopconfirmTitle="是否使用该模板进行发布任务？"
                nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="openPostTaskConfirm(data)">发布</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a nz-popconfirm
                nzPopconfirmTitle="是否删除该模板？"
                nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="openDeleteConfirm(data)">删除</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </section>
  </section>
</section>
