<section class="bound-shop-component">
  <section class="header-info">
    <span class="title-text">绑定商铺</span>
  </section>
  <section class="form-info">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <section nz-row>
        <section nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label [nzSm]="5" [nzXs]="24" nzRequired nzFor="platformId">电商平台</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请选择电商平台">
              <nz-select nz-col nzSpan="24" nzShowSearch nzAllowClear formControlName="platformId" id="platformId" nzPlaceHolder="选择电商平台">
                <nz-option *ngFor="let item of platformRenderArray" [nzLabel]="item.title" [nzValue]="item.id"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </section>
      </section>
      <section nz-row>
        <section nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="account" nzRequired>旺旺账号</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入旺旺账号">
              <input nz-input id="account" formControlName="account" placeholder="请输入旺旺账号"/>
            </nz-form-control>
          </nz-form-item>
        </section>
      </section>
      <section nz-row>
        <section nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="title" nzRequired>店铺名称</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入店铺名称">
              <input nz-input id="title" formControlName="title" placeholder="请输入店铺名称" />
            </nz-form-control>
          </nz-form-item>
        </section>
      </section>
      <section nz-row>
        <section nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="website" nzRequired>店铺首页网址</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入店铺首页网址">
              <input nz-input id="website" formControlName="website" placeholder="请输入店铺首页网址" />
            </nz-form-control>
          </nz-form-item>
        </section>
      </section>
      <section nz-row>
        <section nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="norm">店铺后台凭证截图</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <div class="clearfix">
                <nz-upload
                  nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                  nzListType="picture-card"
                  [(nzFileList)]="fileList"
                  [nzShowButton]="fileList.length < 8"
                  [nzPreview]="handlePreview"
                >
                  <div>
                    <i nz-icon nzType="plus"></i>
                    <div style="margin-top: 8px">上传图片</div>
                  </div>
                </nz-upload>
                <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible = false">
                  <ng-template #modalContent>
                    <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
                  </ng-template>
                </nz-modal>
              </div>
            </nz-form-control>
          </nz-form-item>
        </section>
      </section>
      <footer class="btn-controll" nz-row nzJustify="center">
        <button type="submit" class="custom-btn-sty" nz-button color="primary" nzType="primary">确认提交</button>
      </footer>
    </form>
  </section>
</section>
