<section class="step3-component" *ngIf="renderInfo.length">
  <section class="header-info">
    <span class="title-text">第三步：千人千面</span>
  </section>
  <section class="form-info">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <ng-container formArrayName="requiresForms">
        <ng-container *ngFor="let item of resultPathToFormControll('requiresForms'); let keyIndex = index;" [ngSwitch]="item.value.tagType">
          <ng-container [formGroupName]="keyIndex.toString()" *ngSwitchCase="2">
            <section nz-row>
              <section nz-col [nzSpan]="24">
                <nz-form-item>
                  <nz-form-label [nzSm]="5" nzRequired [nzFor]="'select-input-' + keyIndex">{{item.value.title}}</nz-form-label>
                  <nz-form-control [nzSm]="6" [nzXs]="10" [nzErrorTip]="'请输入' + item.value.title">
                    <nz-select nz-col nzSpan="24" nzShowSearch nzAllowClear formControlName="selectedItemId" [id]="'select-input-' + keyIndex" nzPlaceHolder="不要求">
                      <!-- PAYMENT_TYPE -->
                      <ng-container *ngIf="item.value.code === 'PAYMENT_TYPE'; else priceOptionRef">
                        <nz-option *ngFor="let option of item.value.requiresRuleItemVos" [nzLabel]="option.title" [nzValue]="option.id"></nz-option>
                      </ng-container>
                      <ng-template #priceOptionRef>
                        <nz-option *ngFor="let option of item.value.requiresRuleItemVos" [nzLabel]="option.title + ' ￥' + (option.fees|price)" [nzValue]="option.id"></nz-option>
                      </ng-template>
                    </nz-select>
                  </nz-form-control>
                  <button nz-button disabled nzType="text">{{item.value.description}}</button>
                </nz-form-item>
              </section>
            </section>
          </ng-container>
          <ng-container [formGroupName]="keyIndex.toString()" *ngSwitchCase="3">
            <section nz-row>
              <section nz-col [nzSpan]="24">
                <nz-form-item>
                  <nz-form-label [nzSm]="5" [nzFor]="'radio-input-' + keyIndex" nzRequired>{{item.value.title}}</nz-form-label>
                  <nz-form-control [nzSm]="item.value.requiresRuleItemVos.length < 5 ? item.value.requiresRuleItemVos.length * 2 : 14">
                    <nz-radio-group class="custom-check-radio-group" [id]="'radio-input-' + keyIndex" formControlName="selectedItemId">
                      <label *ngFor="let option of item.value.requiresRuleItemVos" class="min-check-radio" nz-radio [nzValue]="option.id">{{option.title}}</label>
                    </nz-radio-group>
                  </nz-form-control>
                  <button nz-button disabled nzType="text">{{item.value.description}}</button>
                </nz-form-item>
              </section>
            </section>
          </ng-container>
        </ng-container>
      </ng-container>

      <!-- 购物标签 -->
      <section nz-row *ngIf="shopLabels.length">
        <section nz-col [nzSpan]="24">
          <nz-form-item nz-row nzAlign="top">
            <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="labels">买号常购物标签</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <nz-checkbox-wrapper id="labels" class="custom-checkbox-group" (nzOnChange)="checkBoxChange($event)">
                <section nz-row>
                  <section class="min-checkbox" *ngFor="let option of shopLabels" nz-col nzSpan="6">
                    <label nz-checkbox [nzValue]="option.code" [ngModelOptions]="{standalone: true}" [ngModel]="option.checked">{{option.label}}</label>
                  </section>
                </section>
              </nz-checkbox-wrapper>
            </nz-form-control>
          </nz-form-item>
        </section>
      </section>
    </form>
  </section>
</section>
