@import 'mixin';
.step4-component {
  background-color: $default_color;
  margin-bottom: format(10);
  .header-info {
    @include wh(auto, format(44));
    @include flex-justify-align(flex-start, center);
    margin-left: format(20);
    border-bottom: format(1) solid $default_color_10;
    .title-text {
      @include sc(format(16), $default_color_6);
      font-weight: 500;
    }
  }
  .form-info {
    padding: format(30) 0;
    .custom-check-radio-group {
      @include flex-justify-align(flex-start, flex-start);
      flex-wrap: wrap;
      .min-check-radio {
        @include wh(auto, format(32));
        @include flex-justify-align(center);
      }
    }
    .dangers {
      color: $ColorRed;
      margin-right: format(20);
    }
    .danger {
      color: $ColorRed;
      margin-right: format(0);
      position: absolute;
      right: 0;
      top: 5px;
    }
    .min-offset-left {
      margin-left: format(12);
    }

  }
}
