<div class="clearfix">
  <nz-upload
    nzName="file"
    [nzAction]="Action"
    [nzListType]="ListType"
    [nzData]="getExtraData"
    [nzTransformFile]="transformFile"
    [(nzFileList)]="fileList"
    [nzShowButton]="fileList.length < maxFileListLength"
    [nzPreview]="handlePreview"
    [nzDisabled]="disabled"
    class="coustom-upload"
    (nzChange)="onChange($event)">
    <div *ngIf="!coustom" class="iiii">
      <i nz-icon nzType="plus"></i>
      <div style="margin-top: 8px">上传图片</div>
    </div>
    <div *ngIf="coustom">
      <ng-content></ng-content>
    </div>
  </nz-upload>
  <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible = false">
    <ng-template #modalContent>
      <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
    </ng-template>
  </nz-modal>
</div>
