@import 'mixin';
.swipe-upload-component {
  font-size: 0;
  line-height: 0;
  .coustom-upload {
    width: 100%;
    height: 100%;
  }
}

.image-list {
  @include grid-col-row-gap(repeat(format(102), auto), auto, format(10), format(10));
  justify-content: left;
  .image-item {
    @include wh(100%, format(102));
    @include flex-justify-align(center);
    .image {
      @include wh(format(102), 100%);
      object-fit: cover;
    }
  }
}
