<section class="order-info-component" *ngIf="orderInfo">
  <section class="context-group">
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">买家下单的订单号：</span>
      <span class="value-text" nz-col [nzSpan]="16">{{orderInfo.orderNo || '暂未下单'}}</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">买家下单的实付金额：</span>
      <span class="value-text" nz-col [nzSpan]="16">{{orderInfo.paidAmount || '暂未付款'}}{{orderInfo.paidAmount ? '元' : ''}}</span>
    </section>
  </section>
  <!-- 标题 -->
  <section class="title-info">
    <span class="title-text">一、基本信息</span>
  </section>
  <section class="context-group">
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">任务编号：</span>
      <span class="value-text" nz-col [nzSpan]="16">{{orderInfo.taskCode}}</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">任务平台：</span>
      <span class="value-text" nz-col [nzSpan]="16">{{orderInfo.platformTitle}}</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">是否截图：</span>
      <span class="value-text" nz-col [nzSpan]="16">{{orderInfo.screenshot ? '需要' : '不需要'}}</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">掌柜名称：</span>
      <span class="value-text" nz-col [nzSpan]="16">{{orderInfo.shopTitle}}</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">商品标题：</span>
      <span class="value-text" nz-col [nzSpan]="16">{{orderInfo.goodsVo.title}}</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">商品地址： </span>
      <span class="value-text" nz-col [nzSpan]="16">{{orderInfo.goodsVo.url}}</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">商品规格：</span>
      <span class="value-text" nz-col [nzSpan]="16">{{orderInfo.goodsVo.spec}}</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">商品图片：</span>
      <swipe-upload [isReady]="true" [ngModel]="orderInfo.goodsVo.image"></swipe-upload>
    </section>
  </section>
  <!-- 副标题 -->
  <section class="sub-title">
    <span class="title-text">任务金额明细</span>
  </section>
  <section class="context-group">
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">商品价格：</span>
      <span class="value-text" nz-col [nzSpan]="16">{{orderInfo.goodsVo.unitPrice}}元</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">每单拍：</span>
      <span class="value-text" nz-col [nzSpan]="16">{{orderInfo.goodsVo.quantity}}件</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">基础服务费：</span>
      <span class="value-text" nz-col [nzSpan]="16">{{orderInfo.businessCapitalVo.baseCapital | price}}元</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">增值服务：</span>
      <span class="value-text" nz-col [nzSpan]="16">{{orderInfo.businessCapitalVo.additionalCapital}}元</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">追加奖励：</span>
      <span class="value-text" nz-col [nzSpan]="16">{{orderInfo.businessCapitalVo.superaddFess}}元</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">总金额： </span>
      <span class="value-text" nz-col [nzSpan]="16">{{orderInfo.businessCapitalVo.commission | price}}元</span>
    </section>
  </section>
  <!-- 标题 -->
  <section class="title-info">
    <span class="title-text">二、进店方式</span>
  </section>
  <section class="context-group">
    <section class="label-item" nz-row [nzGutter]="[10, 10]" [ngSwitch]="orderInfo.placeType">
      <span class="label-text" nz-col [nzSpan]="8">进店方式：</span>
      <span class="value-text" nz-col [nzSpan]="16" *ngSwitchCase="1">搜索关键词</span>
      <span class="value-text" nz-col [nzSpan]="16" *ngSwitchCase="2">搜索店铺名进店</span>
      <span class="value-text" nz-col [nzSpan]="16" *ngSwitchCase="3">直通车</span>
      <span class="value-text" nz-col [nzSpan]="16" *ngSwitchCase="4">直接打开网址</span>
      <span class="value-text" nz-col [nzSpan]="16" *ngSwitchCase="5">淘口令</span>
      <span class="value-text" nz-col [nzSpan]="16" *ngSwitchCase="6">二维码</span>
      <span class="value-text" nz-col [nzSpan]="16" *ngSwitchCase="7">其他渠道</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]" *ngFor="let keys of orderInfo.keywordsVos">
      <ng-container *ngIf="keys.contentType === 1; else imageTemp">
        <span class="label-text" nz-col [nzSpan]="8">关键字：</span>
        <span class="value-text" nz-col [nzSpan]="16">{{keys.content}}</span>
      </ng-container>
      <ng-template #imageTemp>
        <span class="label-text" nz-col [nzSpan]="8">图片</span>
        <swipe-upload [ngModel]="keys.content"></swipe-upload>
      </ng-template>
    </section>
  </section>
  <!-- 标题 -->
  <section class="title-info">
    <span class="title-text">三、千人千面</span>
  </section>
  <section class="context-group">
    <ng-container *ngFor="let keys of orderInfo.requiresVos">
      <section class="label-item" nz-row [nzGutter]="[10, 10]" *ngIf="(keys.userMatch)">
        <span class="label-text" nz-col [nzSpan]="8">{{keys.title}}：</span>
        <span class="value-text" nz-col [nzSpan]="16">{{keys.selected}}</span>
      </section>
    </ng-container>
  </section>
  <!-- 标题 -->
  <section class="title-info">
    <span class="title-text">四、增值服务</span>
  </section>
  <section class="context-group">
    <ng-container *ngFor="let keys of orderInfo.requiresVos">
      <section class="label-item" nz-row [nzGutter]="[10, 10]" *ngIf="!(keys.userMatch)">
        <span class="label-text" nz-col [nzSpan]="8">{{keys.title}}：</span>
        <span class="value-text" nz-col [nzSpan]="16">{{keys.selected}}</span>
      </section>
    </ng-container>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">任务发布时间：</span>
      <span class="value-text" nz-col [nzSpan]="16">{{orderInfo.pushTime}}</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">任务接手时间：</span>
      <span class="value-text" nz-col [nzSpan]="16">{{orderInfo.startTime}}</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">接手人账号：</span>
      <span class="value-text" nz-col [nzSpan]="16">{{orderInfo.accountId}}</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">接手买号：</span>
      <span class="value-text" nz-col [nzSpan]="16">{{orderInfo.account}}</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]" [ngSwitch]="orderInfo.status">
      <span class="label-text" nz-col [nzSpan]="8">任务当前状态：</span>
      <span class="value-text" nz-col [nzSpan]="16" *ngSwitchCase="0">待接手</span>
      <span class="value-text" nz-col [nzSpan]="16" *ngSwitchCase="1">待开始</span>
      <span class="value-text" nz-col [nzSpan]="16" *ngSwitchCase="2">进行中</span>
      <span class="value-text" nz-col [nzSpan]="16" *ngSwitchCase="3">待核对</span>
      <span class="value-text" nz-col [nzSpan]="16" *ngSwitchCase="4">已过期</span>
      <span class="value-text" nz-col [nzSpan]="16" *ngSwitchCase="5">已锁定</span>
      <span class="value-text" nz-col [nzSpan]="16" *ngSwitchCase="6">已完成</span>
    </section>
  </section>
</section>
