<section class="order-info-component">
  <section class="context-group">
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">买家下单的订单号：</span>
      <span class="value-text" nz-col [nzSpan]="16">2515645656456556</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">买家下单的实付金额：</span>
      <span class="value-text" nz-col [nzSpan]="16">1563元</span>
    </section>
  </section>
  <!-- 标题 -->
  <section class="title-info">
    <span class="title-text">一、基本信息</span>
  </section>
  <section class="context-group">
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">任务编号：</span>
      <span class="value-text" nz-col [nzSpan]="16">251059021282402</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">任务平台：</span>
      <span class="value-text" nz-col [nzSpan]="16">天猫</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">是否截图：</span>
      <span class="value-text" nz-col [nzSpan]="16">否</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">掌柜名称：</span>
      <span class="value-text" nz-col [nzSpan]="16">落日楼台一笛雨</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">商品标题：</span>
      <span class="value-text" nz-col [nzSpan]="16">一键装机</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">商品地址： </span>
      <span class="value-text" nz-col [nzSpan]="16">https://lanhuapp.com/</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">商品规格：</span>
      <span class="value-text" nz-col [nzSpan]="16">1台</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">商品图片：</span>
      <span class="value-text" nz-col [nzSpan]="16">1563元</span>
    </section>
  </section>
  <!-- 副标题 -->
  <section class="sub-title">
    <span class="title-text">任务金额明细</span>
  </section>
  <section class="context-group">
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">商品价格：</span>
      <span class="value-text" nz-col [nzSpan]="16">100.00元</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">每单拍：</span>
      <span class="value-text" nz-col [nzSpan]="16">1件</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">基础服务费：</span>
      <span class="value-text" nz-col [nzSpan]="16">10.00元</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">增值服务：</span>
      <span class="value-text" nz-col [nzSpan]="16">15</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">追加奖励：</span>
      <span class="value-text" nz-col [nzSpan]="16">10元</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">总金额： </span>
      <span class="value-text" nz-col [nzSpan]="16">135.00元</span>
    </section>
  </section>
  <!-- 标题 -->
  <section class="title-info">
    <span class="title-text">二、进店方式</span>
  </section>
  <section class="context-group">
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">进店方式：</span>
      <span class="value-text" nz-col [nzSpan]="16">搜索关键字</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">关键字：</span>
      <span class="value-text" nz-col [nzSpan]="16">相机</span>
    </section>
  </section>
  <!-- 标题 -->
  <section class="title-info">
    <span class="title-text">三、千人千面</span>
  </section>
  <section class="context-group">
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">买号信誉：</span>
      <span class="value-text" nz-col [nzSpan]="16">不要求</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">买号自动打标：</span>
      <span class="value-text" nz-col [nzSpan]="16">不要求</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">要求收藏店铺：</span>
      <span class="value-text" nz-col [nzSpan]="16">不要求</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">要求收藏加购：</span>
      <span class="value-text" nz-col [nzSpan]="16">不要求</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">要求和客服聊天：</span>
      <span class="value-text" nz-col [nzSpan]="16">不要求</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">要求买号性别：</span>
      <span class="value-text" nz-col [nzSpan]="16">女</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">要求买号年龄：</span>
      <span class="value-text" nz-col [nzSpan]="16">26-32岁</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">要求付款方式：</span>
      <span class="value-text" nz-col [nzSpan]="16">不要求</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">买号常用购物标签：</span>
      <span class="value-text" nz-col [nzSpan]="16">女装内衣</span>
    </section>
  </section>
  <!-- 标题 -->
  <section class="title-info">
    <span class="title-text">四、增值服务</span>
  </section>
  <section class="context-group">
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">好评方式：</span>
      <span class="value-text" nz-col [nzSpan]="16">不要求</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">追评方式：</span>
      <span class="value-text" nz-col [nzSpan]="16">不要求</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">货比数量：</span>
      <span class="value-text" nz-col [nzSpan]="16">不要求</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">浏览商品数量：</span>
      <span class="value-text" nz-col [nzSpan]="16">要求</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">搭配商品：</span>
      <span class="value-text" nz-col [nzSpan]="16">要求</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">延迟购买时间：</span>
      <span class="value-text" nz-col [nzSpan]="16">女</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">追加奖励：</span>
      <span class="value-text" nz-col [nzSpan]="16">26-32岁</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">定时发布：</span>
      <span class="value-text" nz-col [nzSpan]="16">不要求</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">留言提醒：</span>
      <span class="value-text" nz-col [nzSpan]="16">服务很好</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">任务发布时间：</span>
      <span class="value-text" nz-col [nzSpan]="16">2021/2/19 13:13:18</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">任务接手时间：</span>
      <span class="value-text" nz-col [nzSpan]="16">2021/2/19 13:13:54</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">接手人账号：</span>
      <span class="value-text" nz-col [nzSpan]="16">孙悟空</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">接手买号：</span>
      <span class="value-text" nz-col [nzSpan]="16">孙悟空</span>
    </section>
    <section class="label-item" nz-row [nzGutter]="[10, 10]">
      <span class="label-text" nz-col [nzSpan]="8">任务当前状态：</span>
      <span class="value-text" nz-col [nzSpan]="16">进行中</span>
    </section>
  </section>
</section>
