<section class="controll-center-component">
  <section class="header-info">
    <span class="title-text min">您上次登陆时间：2021/2/1 10:10:00  [广东省深圳市南山区 电信]</span>
  </section>
  <section class="step-nav">
    <section class="step-item check">
      <span class="label-text">发布任务流程</span>
    </section>
    <section class="step-item" routerLink="/main/financial/account-recharge">
      <span class="list-idot">1</span>
      <span class="label-text">账户充值</span>
    </section>
    <section class="step-item" routerLink="/main/task/bound-shop">
      <span class="list-idot">2</span>
      <span class="label-text">绑定商户</span>
    </section>
    <section class="step-item" routerLink="/main/task/post-task">
      <span class="list-idot">3</span>
      <span class="label-text">发布任务</span>
    </section>
  </section>
</section>

<section class="controll-center-component">
  <section class="header-info">
    <span class="title-text">我的任务</span>
  </section>
  <section class="task-bord">
    <section class="task-item" routerLink="/main/task/published-list">
      <span class="label-text">{{renderInfo.pushOrderNum}}</span>
      <span class="value-text">已发布任务</span>
    </section>
    <section class="task-item" routerLink="/main/task/published-list">
      <span class="label-text">{{renderInfo.waitOrderNum}}</span>
      <span class="value-text">待接手任务</span>
    </section>
    <section class="task-item" routerLink="/main/task/published-list">
      <span class="label-text">{{renderInfo.usedOrderNum}}</span>
      <span class="value-text">已接手任务</span>
    </section>
    <section class="task-item" routerLink="/main/task/published-list">
      <span class="label-text">{{renderInfo.pushOrderNum}}</span>
      <span class="value-text">待审核返款</span>
    </section>
    <section class="task-item" routerLink="/main/task/published-list">
      <span class="label-text">{{renderInfo.completeOrderNum}}</span>
      <span class="value-text">已完成</span>
    </section>
  </section>
</section>

<section class="controll-center-component">
  <section class="header-info">
    <span class="title-text">我的申诉</span>
  </section>
  <section class="task-bord">
    <a class="task-item" routerLink="/main/appeal/my-appeal">
      <span class="label-text">{{renderInfo.appealWaitNum}}</span>
      <span class="value-text">我发起的未解决申诉</span>
    </a>
    <a class="task-item" routerLink="/main/appeal/received-appeal">
      <span class="label-text">{{renderInfo.beAppealWaitNum}}</span>
      <span class="value-text">我被申诉的未解决申诉</span>
    </a>
  </section>
</section>

