<form nz-form class="real-name-ahtion" [formGroup]="validateForm" (submit)="submitForm()">
  <div nz-row>
    <div nz-col [nzSpan]="12">
      <nz-form-item nz-row>
        <nz-form-label nz-col [nzSpan]="6" nzFor="realName">姓名</nz-form-label>
        <nz-form-control class="input-controll" nz-row nz-col [nzSpan]="18" nzErrorTip="请输入真实姓名">
          <input [readonly]="renderInfo" class="inpt" id="realName" nz-col [nzSpan]="24" maxlength="11" placeholder="请输入真实姓名" nz-input formControlName="realName" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="12">
      <nz-form-item nz-row>
        <nz-form-label nz-col [nzSpan]="6" nzFor="idCardNum">身份证号码</nz-form-label>
        <nz-form-control class="input-controll" nz-row nz-col [nzSpan]="18" nzErrorTip="请输入身份证号码">
          <input [readonly]="renderInfo" class="inpt" nz-col [nzSpan]="24" id="idCardNum" maxlength="18" placeholder="请输入身份证号码" nz-input
            formControlName="idCardNum" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div class="input-content upload-box">
    <div class="label">
      <span>上传身份证照片</span>
    </div>
    <div class="upload-content">
      <div class="upload-content-item">
        <div class="title">
          <span>一、身份证正面照</span>
        </div>
        <div class="content">
          <div class="card">
            <img src="/assets/images/pages/bind-info/mock-img1@2x.png" alt="">
          </div>
          <div class="card">
            <swipe-upload [coustom]="true" formControlName="mainPhotoUrl">
              <div class="car-content">
                <button class="btn" >点击上传</button>
              </div>
              <div class="image-list" name="fileList" (click)="clearFile('mainPhotoUrl')">
                <img class="image" [src]="validateForm.value.mainPhotoUrl"/>
              </div>
            </swipe-upload>
          </div>
        </div>
        <div class="desc">
          <div>拍摄说明:</div>
          <div> 1、身份证正面照清晰，像素高</div>
          <div> 2、身份证信息清晰，无遮挡，文字可辨</div>
        </div>
      </div>
      <div class="upload-content-item">
        <div class="title">
          <span>二、身份证背面照</span>
        </div>
        <div class="content">
          <div class="card">
            <img src="/assets/images/pages/bind-info/mock-img2@2x.png" alt="">
          </div>
          <div class="card">
            <swipe-upload [coustom]="true" formControlName="reversePhotoUrl">
              <div class="car-content">
                <button class="btn" >点击上传</button>
              </div>
              <div class="image-list" name="fileList" (click)="clearFile('reversePhotoUrl')">
                <img class="image" [src]="validateForm.value.reversePhotoUrl"/>
              </div>
            </swipe-upload>
          </div>
        </div>
        <div class="desc">
          <div>拍摄说明:</div>
          <div> 1、身份证背面照清晰，像素高 </div>
          <div> 2、身份证信息清晰，无遮挡，文字可辨</div>
        </div>
      </div>
      <div class="upload-content-item">
        <div class="title">
          <span>三、手持身份证照</span>
        </div>
        <div class="content">
          <div class="card">
            <img src="/assets/images/pages/bind-info/mock-img3@2x.png" alt="">
          </div>
          <div class="card">
            <swipe-upload [coustom]="true" formControlName="handPhotoUrl">
              <div class="car-content">
                <button class="btn" >点击上传</button>
              </div>
              <div class="image-list" name="fileList" (click)="clearFile('handPhotoUrl')">
                <img class="image" [src]="validateForm.value.handPhotoUrl"/>
              </div>
            </swipe-upload>
          </div>
        </div>
        <div class="desc">
          <div>拍摄说明:</div>
          <div> 1、身份证正面照清晰，像素高</div>
          <div> 2、身份证信息清晰，无遮挡，文字可辨</div>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" *ngIf="!renderInfo; else reyRef" class="confirm-btn" nz-button nzType="primary">确认绑定</button>
  <ng-template #reyRef>
    <button nz-button nzType="text" type="button" color="primary" class="label-text" title="请联系客服进行实名认证更换">实名认证已绑定，如需解绑/换绑请联系客服</button>
  </ng-template>
</form>
