<section class="appeal-modal-component">
  <section class="context-group">
    <section class="label-item" nz-row>
      <span class="label-text" nz-col [nzSpan]="6">标题：</span>
      <span class="value-text" nz-col [nzSpan]="16">差价25</span>
    </section>
    <section class="label-item" nz-row>
      <span class="label-text" nz-col [nzSpan]="6">发起申诉人：</span>
      <span class="value-text" nz-col [nzSpan]="16">13668796432</span>
    </section>
    <section class="label-item" nz-row>
      <span class="label-text" nz-col [nzSpan]="6">申诉日期：</span>
      <span class="value-text" nz-col [nzSpan]="16">2021/2/26 12:42:56</span>
    </section>
    <section class="label-item" nz-row>
      <span class="label-text" nz-col [nzSpan]="6">订单编号：</span>
      <span class="value-text" nz-col [nzSpan]="16">3656463148646【已锁定任务】</span>
    </section>
    <section class="label-item" nz-row>
      <span class="label-text" nz-col [nzSpan]="6">被申诉用户：</span>
      <span class="value-text" nz-col [nzSpan]="16">13668796432</span>
    </section>
    <section class="label-item" nz-row>
      <span class="label-text" nz-col [nzSpan]="6">2021/2/26 12:42:56 </span>
      <span class="value-text" nz-col [nzSpan]="16"></span>
    </section>
    <section class="label-item" nz-row>
      <span class="label-text" nz-col [nzSpan]="6">申诉内容：</span>
      <span class="value-text" nz-col [nzSpan]="16">补差价</span>
    </section>
    <section class="label-item" nz-row>
      <span class="label-text" nz-col [nzSpan]="6">希望解决方案：</span>
      <span class="value-text" nz-col [nzSpan]="16">补差价</span>
    </section>
    <section class="label-item" nz-row>
      <span class="label-text" nz-col [nzSpan]="6">辩解内容：</span>
      <!-- <span class="value-text" nz-col [nzSpan]="16"></span> -->
      <textarea nz-col [nzSpan]="16" nz-input placeholder="请输入辩解内容"></textarea>
    </section>
    <section class="label-item" nz-row>
      <span class="label-text" nz-col [nzSpan]="6">官方处理回复：</span>
      <span class="value-text" nz-col [nzSpan]="2">已补</span>
      <button class="intro-text" nz-button disabled nzType="text">受理人：admin   时间：2021/2/26 15:55:28</button>
    </section>
    <section class="label-item" nz-row>
      <span class="label-text" nz-col [nzSpan]="6">我要辩解：</span>
      <!-- <span class="value-text" nz-col [nzSpan]="16"></span> -->
      <textarea nz-col [nzSpan]="16" nz-input placeholder="请输入辩解内容"></textarea>
    </section>
    <footer class="btn-controll" nz-row nzJustify="start">
      <nz-form-label [nzNoColon]="true" [nzSm]="6" [nzXs]="24"></nz-form-label>
      <button class="custom-btn-sty" nz-button type="submit" color="primary" nzType="primary">确认提交</button>
    </footer>
  </section>
</section>
