<section class="withdrawal-details-component">
  <section class="header-info">
    <span class="title-text">提现明细</span>
  </section>
  <section class="context-info">
    <section class="context-list">
      <ng-template #tableTitle1>
        <span class="title-text">提现明细</span>
      </ng-template>
      <nz-table
        [nzTitle]="tableTitle1"
        #borderedTable
        [nzTotal]="renderConfig.total"
        [nzPageSize]="renderConfig.pageSize"
        [nzPageIndex]="renderConfig.pageNum"
        nzBordered
        (nzQueryParams)="onQueryParamsChange($event)"
        [nzData]="renderArray"
        [nzFrontPagination]="false">
        <thead>
          <tr>
            <th nzAlign="center">交易/流水号</th>
            <th nzAlign="center">姓名</th>
            <th nzAlign="center">支付类型</th>
            <th nzAlign="center">账户</th>
            <th nzAlign="center">提现金额(元)</th>
            <th nzAlign="center">实付金额(元)</th>
            <th nzAlign="center">时间</th>
            <th nzAlign="center">状态</th>
            <th nzAlign="center">备注</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of borderedTable.data" [ngSwitch]="data.status">
            <td nzAlign="center">{{ data.withdrawalNum }}</td>
            <td nzAlign="center">{{ data.realName }}</td>
            <td nzAlign="center">{{ data.withdrawalMethod }}</td>
            <td nzAlign="center">{{ data.accountNumbe }}</td>
            <td nzAlign="center">{{ data.amount|price }}</td>
            <td nzAlign="center">{{ data.realAmount|price }}</td>
            <td nzAlign="center">{{ data.createTime }}</td>
            <td nzAlign="center" *ngSwitchCase="1">待审核</td>
            <td nzAlign="center" *ngSwitchCase="2">处理中</td>
            <td nzAlign="center" *ngSwitchCase="3">审核成功</td>
            <td nzAlign="center" *ngSwitchCase="4">审核失败</td>
            <td nzAlign="center" *ngSwitchCase="5">撤销</td>
            <td nzAlign="center">{{ data.remark }}</td>
          </tr>
        </tbody>
      </nz-table>
    </section>
  </section>
</section>
