@import 'mixin';

.main-container {
  @include wh(100vw, auto);
  min-width: format(1240);
  min-height: 100vh;
  background: $default_background_color;
  .custom-header {
    @include wh(100%, auto);
  }
  .main-content {
    width: format(1200);
    margin: 0 auto;
    margin-top: format(20);
    @include flex-justify-align();
    .main-left-content {
      width: format(288);
      height: auto;
      margin-right: format(10);
      align-self: flex-start;
    }
    .main-right-content {
      flex: 1;
      align-self: flex-start;
    }
  }
}
