<section class="task-page">
  <section class="header-info">
    <span class="title-text">第一步：填写任务基本信息</span>
  </section>
  <section class="form-info">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="temp">选择模板</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请选择任务模板">
          <nz-select nz-col nzSpan="24" nzShowSearch nzAllowClear formControlName="temp" id="temp" nzPlaceHolder="选择任务模板" [(ngModel)]="selectedValue">
            <nz-option nzLabel="模板一" nzValue="1"></nz-option>
            <nz-option nzLabel="模板二" nzValue="2"></nz-option>
            <nz-option nzLabel="模板三" nzValue="3"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="temp">所属平台</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请选择任务平台">
          <nz-select nz-col nzSpan="24" nzShowSearch nzAllowClear formControlName="temp" id="temp" nzPlaceHolder="淘宝" [(ngModel)]="selectedValue">
            <nz-option nzLabel="淘宝" nzValue="1"></nz-option>
            <nz-option nzLabel="京东" nzValue="2"></nz-option>
            <nz-option nzLabel="天猫" nzValue="3"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>是否截图</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <!-- <input nz-input type="password" formControlName="checkPassword" id="checkPassword"  [(ngModel)]="radioValue" /> -->
          <nz-radio-group id="checkPassword" formControlName="checkPassword">
            <button nz-button class="btn-sty">
              <label nz-radio nzValue="A">需要</label>
            </button>
            <button nz-button class="btn-sty">
              <label nz-radio nzValue="B">不需要</label>
            </button>
          </nz-radio-group>
          <button nz-button nzType="text">提示：不截图模式更加安全</button>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="temp">选择店铺</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请选择店铺">
          <nz-select nz-col nzSpan="24" nzShowSearch nzAllowClear formControlName="temp" id="temp" nzPlaceHolder="淘宝" [(ngModel)]="selectedValue">
            <nz-option nzLabel="淘宝" nzValue="1"></nz-option>
            <nz-option nzLabel="京东" nzValue="2"></nz-option>
            <nz-option nzLabel="天猫" nzValue="3"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="temp">商品类目</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请选择商品类目">
          <nz-select nz-col nzSpan="24" nzShowSearch nzAllowClear formControlName="temp" id="temp" nzPlaceHolder="淘宝" [(ngModel)]="selectedValue">
            <nz-option nzLabel="淘宝" nzValue="1"></nz-option>
            <nz-option nzLabel="京东" nzValue="2"></nz-option>
            <nz-option nzLabel="天猫" nzValue="3"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="website" nzRequired>商品链接</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入商品链接">
          <input nz-input id="website" formControlName="website" placeholder="website" placeholder="请输入商品链接"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="website" nzRequired>商品标题</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入商品标题">
          <input nz-input id="website" formControlName="website" placeholder="请输入商品标题" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="norm">商品规格</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="norm" formControlName="norm" placeholder="请输入商品规格" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label
          [nzSm]="6"
          [nzXs]="24"
          nzFor="captcha"
          nzRequired
          nzTooltipTitle="Please click 'Get captcha'"
          [nzTooltipIcon]="captchaTooltipIcon"
        >
          Captcha
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input the captcha you got!"
          nzExtra="We must make sure that your are a human."
        >
          <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="12">
              <input nz-input formControlName="captcha" id="captcha" />
            </div>
            <div nz-col [nzSpan]="12">
              <button nz-button (click)="getCaptcha($event)">Get captcha</button>
            </div>
          </div>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <label nz-checkbox>
            <span>
              I have read the
              <a>agreement</a>
            </span>
          </label>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary">Register</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </section>
</section>


<section nz-row class="content">
  <nz-select nz-col nzSpan="24" nzShowSearch nzAllowClear nzPlaceHolder="Select a person" [(ngModel)]="selectedValue">
    <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
    <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
    <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
  </nz-select>
</section>
