<section class="task-page">
  <form #step1 [formGroup]="validateForm" (submit)="submitForm()">
    <swipe-step1 formControlName="step1">
      <section name="selectTemp" nz-row>
        <section nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="temp">选择模板</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <nz-select nz-col nzSpan="24" nzShowSearch nzAllowClear id="temp" nzPlaceHolder="选择任务模板" [(ngModel)]="tempSelected" [ngModelOptions]="{standalone: true}" (ngModelChange)="selectTempChange($event)">
                <nz-option *ngFor="let item of tempDictArray" [nzLabel]="item.title" [nzValue]="item.id"></nz-option>
              </nz-select>
            </nz-form-control>
            <button nz-button color="primary" nzType="text" type="button" routerLink="/main/task/task-template">模板管理</button>
          </nz-form-item>
        </section>
      </section>
    </swipe-step1>
    <swipe-step2 formControlName="step2"></swipe-step2>
    <swipe-step3 formControlName="step3" [renderInfo]="taskTemp.task1"></swipe-step3>
    <swipe-step4 formControlName="step4" [renderInfo]="taskTemp.task2"></swipe-step4>
    <swipe-step5 formControlName="step5" [renderInfo]="taskTemp.task3"></swipe-step5>
    <swipe-step6 formControlName="step6"></swipe-step6>
    <footer class="btn-controll" nz-row nzJustify="center">
      <button class="custom-btn-sty" type="submit" nz-button color="primary" nzType="primary">提交</button>
      <button class="custom-btn-sty" type="reset" nz-button nzType="default" (click)="openResetForm()">重置</button>
    </footer>
  </form>
  <swipe-task-window class="task-window" [renderInfo]="validateForm.value"></swipe-task-window>
</section>
