<swipe-custom-card [nzBorderless]="true" title="个人资料" >
  <div class="form">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item  >
        <nz-form-label  [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">用户名</nz-form-label>
        <nz-form-control   nz-row [nzSm]="14" [nzXs]="24" nzErrorTip="">
          <input nz-input formControlName="email" id="email" nz-col [nzSpan]="10" /> <nz-form-text nz-col [nzSpan]="14" class="text"></nz-form-text>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" >头像</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <div class="uploader-info">
            <nz-upload
            class="avatar-uploader"
            nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
            [nzShowUploadList]="false"
            [nzBeforeUpload]="beforeUpload"
            (nzChange)="handleChange($event)"
          >
            <ng-container *ngIf="!avatarUrl">
               <div class="avatarUrl">
                 <img src="/assets/images/public/header-img-mock@2x.png" alt="">
               </div>
            </ng-container>
            <img *ngIf="avatarUrl" [src]="avatarUrl" style="width: 100%" />
          </nz-upload>
          </div>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label  [nzSm]="6" [nzXs]="24"  >真实姓名</nz-form-label>
        <nz-form-control   nz-row [nzSm]="14" [nzXs]="24" nzErrorTip="">
          <swipe-swipe-radio (radioChange)="onRadioChange($event)" ></swipe-swipe-radio>
          <!-- <nz-radio-group [(ngModel)]="radioValue"  (ngModelChange)="onRadioChange($event)" formControlName="radio"  >
            <label [class]="['radio-antd', radioValue === 'A' && 'active' ]"   nz-radio nzValue="A">男</label>
            <label [class]="['radio-antd', radioValue === 'B' && 'active' ]" nz-radio nzValue="B">女</label>
            <label [class]="['radio-antd', radioValue === 'C' && 'active' ]" nz-radio nzValue="C">保密</label>
          </nz-radio-group> -->
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label  [nzSm]="6" [nzXs]="24"  >生日</nz-form-label>
        <nz-form-control   nz-row [nzSm]="14" [nzXs]="24" nzErrorTip="">
          <nz-date-picker nz-col [nzSpan]="10"  formControlName="date" [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item  >
        <nz-form-label  [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">QQ</nz-form-label>
        <nz-form-control   nz-row [nzSm]="14" [nzXs]="24" nzErrorTip="">
          <input nz-input formControlName="email" id="email" nz-col [nzSpan]="10" /> <nz-form-text nz-col [nzSpan]="14" class="text">如果实名认证通过后需要修改，请联系客服！</nz-form-text>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item  >
        <nz-form-label  [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">微信</nz-form-label>
        <nz-form-control   nz-row [nzSm]="14" [nzXs]="24" nzErrorTip="">
          <input nz-input formControlName="email" id="email" nz-col [nzSpan]="10" /> <nz-form-text nz-col [nzSpan]="14" class="text">请填写真实微信号，方便客服来联系您！</nz-form-text>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item  >
        <nz-form-label  [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">邮箱</nz-form-label>
        <nz-form-control   nz-row [nzSm]="14" [nzXs]="24" nzErrorTip="">
          <input nz-input formControlName="email" id="email" nz-col [nzSpan]="10" /> <nz-form-text nz-col [nzSpan]="14" class="text"></nz-form-text>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item  >
        <nz-form-label  [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">手机</nz-form-label>
        <nz-form-control   nz-row [nzSm]="14" [nzXs]="24" nzErrorTip="">
          <input nz-input formControlName="email" id="email" nz-col [nzSpan]="10" /> <nz-form-text nz-col [nzSpan]="14" class="text">如果实名认证通过后需要修改，请联系客服！</nz-form-text>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item  >
        <nz-form-label  [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">所属地区</nz-form-label>
        <nz-form-control   nz-row [nzSm]="14" [nzXs]="24" nzErrorTip="">
          <nz-cascader nz-col [nzSpan]="10" [nzOptions]="options" [(ngModel)]="values" formControlName="email" (ngModelChange)="onChanges($event)"></nz-cascader>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item  >
        <nz-form-label  [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">详细地址</nz-form-label>
        <nz-form-control   nz-row [nzSm]="14" [nzXs]="24" nzErrorTip="">
          <input nz-input formControlName="email" id="email" nz-col [nzSpan]="10" /> <nz-form-text nz-col [nzSpan]="14" class="text"></nz-form-text>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item  >
        <nz-form-label  [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">个性签名</nz-form-label>
        <nz-form-control   nz-row [nzSm]="14" [nzXs]="24" nzErrorTip="">
          <input nz-input formControlName="email" id="email" nz-col [nzSpan]="10" /> <nz-form-text nz-col [nzSpan]="14" class="text"></nz-form-text>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item  >
        <nz-form-label  [nzSm]="6" nzNoColon="true"></nz-form-label>
        <nz-form-control   nz-row [nzSm]="14" [nzXs]="24" nzErrorTip="">
          <button nz-button nzType="primary">确认修改</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</swipe-custom-card>
