<section class="order-management-component">
  <section class="header-info">
    <span class="title-text">订单管理</span>
  </section>
  <section class="context-info">
    <section class="filter-form">
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label>任务搜索</nz-form-label>
          <nz-form-control class="custom-search-group" [nzSm]="21" [nzXs]="24">
            <nz-select class="custom-select-input" formControlName="checkType">
              <nz-option [nzLabel]="'任务编号'" [nzValue]="1"></nz-option>
              <nz-option [nzLabel]="'掌柜号'" [nzValue]="2"></nz-option>
              <nz-option [nzLabel]="'买方账号'" [nzValue]="3"></nz-option>
            </nz-select>
            <nz-input-group nzSearch [nzAddOnAfter]="addOnAfterTemplate">
              <input type="text" class="custom-search-input" formControlName="checkValue" nz-input placeholder="请输入相关信息" />
            </nz-input-group>
            <ng-template #addOnAfterTemplate>
              <button nz-button type="submit" nzType="primary" nzSearch>搜索</button>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </form>
    </section>
    <section class="context-list">
      <section class="task-carc-info" *ngFor="let item of renderArray">
        <section class="header-info">
          <span class="lable-text">订单编号：{{item.taskCode}}</span>
          <span class="time-text">发布时间：{{item.createTime}}</span>
        </section>
        <section class="content-info">
          <section class="product-info">
            <img class="product-img" [src]="item.image" alt="/">
            <section class="product-intro">
              <span class="label-text">{{item.title}}</span>
              <span class="label-text">{{item.shopTitle}}</span>
              <span class="label-text">{{item.shopTitle}}</span>
            </section>
          </section>
          <section class="task-intro">
            <span class="label-text">任务金额：￥{{item.unitPrice}}</span>
            <!-- <span class="label-text">收货时限：物流显示签收好评</span> -->
            <!-- <span class="label-text">任务要求：货比  收藏  男性账号</span> -->
          </section>
          <section class="task-status" [ngSwitch]="item.status">
            <span class="status-text" *ngSwitchCase="0">待接手</span>
            <span class="status-text" *ngSwitchCase="1">待开始</span>
            <span class="status-text" *ngSwitchCase="2">进行中</span>
            <span class="status-text" *ngSwitchCase="3">待核对</span>
            <span class="status-text" *ngSwitchCase="4">已过期</span>
            <span class="status-text" *ngSwitchCase="5">已锁定</span>
            <span class="status-text" *ngSwitchCase="6">已完成</span>
          </section>
          <section class="task-handler">
            <button class="handler-btn" nz-button nzType="text" *ngIf="item.status === 3" (click)="openCheckInfo(item)">核对订单</button>
            <button class="handler-btn" nz-button nzType="text" (click)="openOrderDetail(item)">详情</button>
            <!-- <button class="handler-btn" nz-button nzType="text">下架</button> -->
          </section>
        </section>
        <section class="footer-info">
          <span class="lable-text">任务编号：{{item.id}}</span>
        </section>
      </section>
    </section>
    <nz-pagination class="custom-pagination" [nzPageIndex]="renderConfig.pageNum" [nzPageSize]="renderConfig.pageSize" [nzTotal]="renderConfig.total" nzShowQuickJumper (nzPageIndexChange)="onPageIndexChange($event)" (nzPageSizeChange)="onPageSizeChange($event)"></nz-pagination>
  </section>
</section>
