<div class="header">
  <div class="header-container">
    <div class="header-container-left" routerLink="/main/index">
      <div class="header-logo">
        <img src="/assets/images/pages/login/code-mock@2x.png" alt="">
      </div>
      <div class="header-name">
        <span>商家中心</span>
        <span>Personal center</span>
      </div>
    </div>
    <div class="header-container-right">
      <div class="my-info" routerLink="/main/index">
        <i nz-icon nzType="home"></i><span>首页</span>
      </div>
      <div class="my-info" routerLink="/main/messages">
        <i nz-icon nzType="message"></i><span>我的消息</span>
      </div>
      <div class="my-info" (click)="onLogout()">
        <i nz-icon nzType="logout"></i><span>退出</span>
      </div>
      <div class="issue-task" routerLink="/main/task/post-task"><span>发布任务</span></div>
    </div>

  </div>
</div>
