<section class="step1-component">
  <section class="header-info">
    <span class="title-text">第一步：填写任务基本信息</span>
  </section>
  <section class="form-info">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <ng-content select="[name=selectTemp]"></ng-content>
      <ng-container formGroupName="businessTaskOriginalBaseForm">
        <section nz-row>
          <section nz-col [nzSpan]="24">
            <nz-form-item>
              <nz-form-label [nzSm]="5" [nzXs]="24" nzRequired nzFor="platformId">所属平台</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请选择任务平台">
                <nz-select nz-col nzSpan="24" nzShowSearch nzAllowClear id="platformId" nzPlaceHolder="请选择所属平台" formControlName="platformId" (ngModelChange)="platformChange($event)">
                  <nz-option *ngFor="let item of packgeConfig.platform" [nzLabel]="item.title" [nzValue]="item.id"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </section>
        </section>
        <!-- 注解：暂时取消是否截图功能 -->
        <section nz-row *ngIf="false">
          <section nz-col [nzSpan]="24">
            <nz-form-item>
              <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="screenshot" nzRequired>是否截图</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请选择是否截图">
                <nz-radio-group id="screenshot" formControlName="screenshot">
                  <label nz-radio [nzValue]="1">需要</label>
                  <label nz-radio [nzValue]="0">不需要</label>
                </nz-radio-group>
                <button nz-button disabled nzType="text">提示：不截图模式更加安全</button>
              </nz-form-control>
            </nz-form-item>
          </section>
        </section>
        <section nz-row>
          <section nz-col [nzSpan]="24">
            <nz-form-item>
              <nz-form-label [nzSm]="5" [nzXs]="24" nzRequired nzFor="shopId">选择店铺</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请先选择平台后再选择店铺">
                <nz-select nz-col nzSpan="24" nzShowSearch nzAllowClear formControlName="shopId" id="shopId" nzPlaceHolder="请选择店铺">
                  <nz-option *ngFor="let option of packgeConfig.shop" [nzLabel]="option.title" [nzValue]="option.id" [nzDisabled]="option.status === 2"></nz-option>
                </nz-select>
              </nz-form-control>
              <button type="button" nz-button color="primary" nzType="text" routerLink="/main/task/bound-shop">绑定店铺</button>
            </nz-form-item>
          </section>
        </section>
      </ng-container>
      <ng-container formGroupName="goodsForm">
        <section nz-row>
          <section nz-col [nzSpan]="24">
            <nz-form-item>
              <nz-form-label [nzSm]="5" [nzXs]="24" nzRequired nzFor="goodTypeId">商品类目</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请先选择店铺后再选择商品类目">
                <nz-select nz-col nzSpan="24" nzShowSearch nzAllowClear formControlName="goodTypeId" id="temp" nzPlaceHolder="请选择商品类目">
                  <nz-option *ngFor="let option of packgeConfig.goodstype" [nzLabel]="option.title" [nzValue]="option.id"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </section>
        </section>
        <section nz-row>
          <section nz-col [nzSpan]="24">
            <nz-form-item>
              <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="url" nzRequired>商品链接</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入商品链接">
                <input nz-input id="url" formControlName="url" placeholder="url" placeholder="请输入商品链接"/>
              </nz-form-control>
            </nz-form-item>
          </section>
        </section>
        <section nz-row>
          <section nz-col [nzSpan]="24">
            <nz-form-item>
              <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="title" nzRequired>商品标题</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入商品标题">
                <input nz-input id="title" formControlName="title" placeholder="请输入商品标题" />
              </nz-form-control>
            </nz-form-item>
          </section>
        </section>
        <section nz-row>
          <section nz-col [nzSpan]="24">
            <nz-form-item>
              <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="spec" nzRequired>商品规格</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入商品规格">
                <input nz-input id="spec" formControlName="spec" placeholder="请输入商品规格" />
              </nz-form-control>
            </nz-form-item>
          </section>
        </section>
        <section nz-row>
          <section nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label [nzSm]="10" [nzXs]="12" nzRequired>下单价格</nz-form-label>
              <nz-form-control
                [nzSm]="9"
                [nzXs]="12"
                nzErrorTip="请输入正确的下单价格">
                <swipe-input-number formControlName="unitPrice" placeholder="1.00"></swipe-input-number>
                <!-- <nz-input-number nz-input [nzMin]="1" [nzStep]="1" formControlName="price"></nz-input-number> -->
              </nz-form-control>
              <button nz-button disabled nzType="text">元</button>
            </nz-form-item>
          </section>
          <section nz-col [nzSpan]="10" [nzOffset]="1">
            <nz-form-item>
              <nz-form-label [nzSm]="4" [nzXs]="12" nzFor="price" nzRequired>每单买</nz-form-label>
              <nz-form-control
                [nzSm]="11"
                [nzXs]="12"
                nzErrorTip="每单至少为1件">
                <swipe-input-number formControlName="quantity" placeholder="1" min="1"></swipe-input-number>
              </nz-form-control>
              <button nz-button disabled nzType="text">件</button>
            </nz-form-item>
          </section>
        </section>
        <section nz-row>
          <section nz-col [nzSpan]="24">
            <nz-form-item>
              <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="norm" nzRequired>商品图片</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请上传商品图片">
                <swipe-upload formControlName="image"></swipe-upload>
              </nz-form-control>
            </nz-form-item>
          </section>
        </section>
      </ng-container>
      <ng-container formGroupName="businessTaskOriginalBaseForm">
        <section nz-row>
          <section nz-col [nzSpan]="24">
            <nz-form-item>
              <nz-form-label [nzSm]="5" [nzXs]="12" nzRequired>任务数量</nz-form-label>
              <nz-form-control
                [nzSm]="5"
                [nzXs]="6"
                nzErrorTip="请输入正确的任务数量">
                <swipe-input-number formControlName="taskQuantity" placeholder="例如：100" min="1"></swipe-input-number>
                <!-- <input type="number" formControlName="taskQuantity" > -->
                <!-- <nz-input-number nz-input [nzMin]="1" [nzStep]="1" formControlName="price"></nz-input-number> -->
              </nz-form-control>
              <button nz-button disabled nzType="text">注：要和下面关键词数量总和一致。</button>
            </nz-form-item>
          </section>
        </section>
      </ng-container>
    </form>
  </section>
</section>
