@import 'mixin';

.check-info-component {
  .title-info {
    padding: format(20) 0 format(10);
    .title-text {
      @include sc(format(16), $default_color_6);
      font-weight: 400;
    }
  }
  .sub-title {
    padding: format(10) 0 format(5) format(35);
    .title-text {
      @include sc(format(16), $default_color_6);
      font-weight: 400;
    }
  }
  .context-group {
    .label-item {
      .label-text {
        @include sc(format(14), $default_color_9);
        font-weight: 400;
        text-align: right;
      }
      .value-text {
        @include sc(format(14), $default_color_6);
        font-weight: 400;
      }
    }
  }
}

