<div class="real-name-ahtion">
  <div class="header">
    <div class="input-content">
      <div class="label">
        <span>姓名</span>
      </div>
      <input class="input" type="text" >
    </div>
    <div class="input-content">
      <div class="label">
        <span>身份证号码</span>
      </div>
      <input class="input" type="text" >
    </div>
  </div>
  <div class="input-content upload-box">
    <div class="label">
      <span>上传身份证照片</span>
    </div>
    <div class="upload-content">
      <div class="upload-content-item">
        <div class="title">
          <span>一、身份证正面照</span>
        </div>
        <div class="content">
          <div class="card">
            <img src="/assets/images/pages/bind-info/mock-img1@2x.png" alt="">
          </div>
          <div class="card">
            <swipe-swipe-upload [coustom]="true" >
              <div class="car-content">
                <button class="btn" >点击上传</button>
              </div>
            </swipe-swipe-upload>
          </div>
        </div>
        <div class="desc">
          <div>拍摄说明:</div>
          <div> 1、身份证正面照清晰，像素高</div>
          <div> 2、身份证信息清晰，无遮挡，文字可辨</div>
        </div>
      </div>
      <div class="upload-content-item">
        <div class="title">
          <span>二、身份证背面照</span>
        </div>
        <div class="content">
          <div class="card">
            <img src="/assets/images/pages/bind-info/mock-img1@2x.png" alt="">
          </div>
          <div class="card">
            <swipe-swipe-upload [coustom]="true" >
              <div class="car-content">
                <button class="btn" >点击上传</button>
              </div>
            </swipe-swipe-upload>
          </div>
        </div>
        <div class="desc">
          <div>拍摄说明:</div>
          <div> 1、身份证背面照清晰，像素高 </div>
          <div> 2、身份证信息清晰，无遮挡，文字可辨</div>
        </div>
      </div>
      <div class="upload-content-item">
        <div class="title">
          <span>三、身份证正面照</span>
        </div>
        <div class="content">
          <div class="card">
            <img src="/assets/images/pages/bind-info/mock-img1@2x.png" alt="">
          </div>
          <div class="card">
            <swipe-swipe-upload [coustom]="true" >
              <div class="car-content">
                <button class="btn" >点击上传</button>
              </div>
            </swipe-swipe-upload>
          </div>
        </div>
        <div class="desc">
          <div>拍摄说明:</div>
          <div> 1、身份证正面照清晰，像素高</div>
          <div> 2、身份证信息清晰，无遮挡，文字可辨</div>
        </div>
      </div>
    </div>
  </div>
  <button class="confirm-btn" nz-button nzType="primary">确认绑定</button>

</div>