<section class="step2-component">
  <section class="header-info">
    <span class="title-text">第二步：进店方式</span>
  </section>
  <section class="form-info">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <ng-container formGroupName="businessTaskOriginalBaseForm">
        <section nz-row>
          <section nz-col [nzSpan]="24">
            <nz-form-item nz-row nzAlign="top">
              <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="placeType" nzRequired>进店方式</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24">
                <!-- <input nz-input type="password" formControlName="placeType" id="placeType"  [(ngModel)]="radioValue" /> -->
                <nz-radio-group class="custom-check-radio-group" id="placeType" formControlName="placeType" (ngModelChange)="placeTypeChange($event)">
                  <label class="min-check-radio" nz-radio [nzValue]="1">搜索关键词</label>
                  <label class="min-check-radio" nz-radio [nzValue]="2">搜索店铺名</label>
                  <label class="min-check-radio" nz-radio [nzValue]="3">直通车</label>
                  <label class="min-check-radio" nz-radio [nzValue]="4">直接打开网址</label>
                  <label class="min-check-radio" nz-radio [nzValue]="5">淘口令</label>
                  <label class="min-check-radio" nz-radio [nzValue]="6">二维码</label>
                  <label class="min-check-radio" nz-radio [nzValue]="7">其他渠道</label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>
          </section>
        </section>
      </ng-container>
      <!-- 动态表单 -->
      <ng-container formGroupName="businessTaskOriginalBaseForm">
        <ng-container formArrayName="taskSubjoinMatterForms">
          <ng-container *ngFor="let keyControll of taskSubjoinMatterFormsContent.controls; let keyIndex = index">
            <ng-container [ngSwitch]="validateForm.value.businessTaskOriginalBaseForm.placeType" [formGroupName]="keyIndex.toString()">
              <ng-container *ngSwitchDefault>
                <section nz-row>
                  <section nz-col [nzSpan]="24">
                    <nz-form-item>
                      <nz-form-label [nzSm]="5" [nzXs]="12" [nzFor]="'keyword' + keyControll.value.sort" nzRequired>关键词{{keyControll.value.sort}}</nz-form-label>
                      <nz-form-control
                        [nzSm]="5"
                        [nzXs]="6"
                        nzErrorTip="请输入关键词">
                        <input nz-input [id]="'keyword' + keyControll.value.sort" formControlName="content" placeholder="请输入关键词" />
                      </nz-form-control>
                      <nz-form-control
                        class="min-offset-left"
                        [nzSm]="5"
                        [nzXs]="6"
                        nzErrorTip="请输入数量">
                        <input nz-input type="number" formControlName="quantity" placeholder="数量" />
                      </nz-form-control>
                      <button type="button" color="danger" *ngIf="(taskSubjoinMatterFormsContent.value.length - 1) > keyIndex; else addControllTemp" nz-button class="min-offset-left" (click)="placeKeyDeleteChange(keyIndex, $event)">删除</button>
                      <ng-template #addControllTemp>
                        <button type="button" nz-button class="min-offset-left" (click)="placeKeyNewChange()">增加</button>
                      </ng-template>
                    </nz-form-item>
                  </section>
                </section>
              </ng-container>
              <!-- 空 -->
              <ng-container *ngSwitchCase="4"></ng-container>
              <!-- 淘口令 -->
              <ng-container *ngSwitchCase="5">
                <section nz-row>
                  <section nz-col [nzSpan]="24">
                    <nz-form-item>
                      <nz-form-label [nzSm]="5" [nzXs]="12" nzFor="amoy" nzRequired>淘口令</nz-form-label>
                      <nz-form-control
                        [nzSm]="5"
                        [nzXs]="6"
                        nzErrorTip="请输入淘口令">
                        <input nz-input idrrr="website" formControlName="content" placeholder="请输入淘口令" />
                      </nz-form-control>
                    </nz-form-item>
                  </section>
                </section>
              </ng-container>
              <!-- 二维码 -->
              <ng-container *ngSwitchCase="6">
                <section nz-row>
                  <section nz-col [nzSpan]="24">
                    <nz-form-item>
                      <nz-form-label [nzSm]="5" [nzXs]="12" nzFor="qrcode" nzRequired>二维码图</nz-form-label>
                      <nz-form-control
                        [nzSm]="5"
                        [nzXs]="6"
                        nzErrorTip="请输入上传二维码图">
                        <swipe-upload formControlName="content"></swipe-upload>
                      </nz-form-control>
                    </nz-form-item>
                  </section>
                </section>
              </ng-container>
              <!-- 商品步凑 -->
              <ng-container *ngSwitchCase="7">
                <section nz-row *ngIf="keyIndex === 0">
                  <section nz-col [nzSpan]="24">
                    <nz-form-item>
                      <nz-form-label [nzSm]="5" [nzXs]="12" nzFor="commodity" nzRequired>商品步凑</nz-form-label>
                      <nz-form-control
                        [nzSm]="5"
                        [nzXs]="6"
                        nzErrorTip="请输入上传步凑图片">
                        <swipe-upload formControlName="content"></swipe-upload>
                      </nz-form-control>
                    </nz-form-item>
                  </section>
                </section>
                <section nz-row *ngIf="keyIndex === 1">
                  <section nz-col [nzSpan]="24">
                    <nz-form-item>
                      <nz-form-label [nzSm]="5" [nzXs]="12" nzFor="commodity" nzRequired>备注说明</nz-form-label>
                      <nz-form-control
                        [nzSm]="12"
                        [nzXs]="15"
                        nzErrorTip="请输入上传步凑图片">
                        <textarea formControlName="content" [nzAutosize]="{ minRows: 5, maxRows: 10 }" nz-input placeholder="重要！商家必须清楚描述任务商品查找的入口步骤，例如第一步手机端首页海淘抢购，第二步12：00点场，第三步88元的武夷山红茶特级正山小种500g。可配合添加步骤图片"></textarea>
                      </nz-form-control>
                    </nz-form-item>
                  </section>
                </section>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </form>
  </section>
</section>
