<section class="recharge-record-component">
  <section class="header-info">
    <span class="title-text">充值记录</span>
  </section>
  <section class="context-info">
    <section class="context-list">
      <ng-template #tableTitle1>
        <span class="title-text">充值记录</span>
      </ng-template>
      <nz-table
        [nzTitle]="tableTitle1"
        #borderedTable
        [nzLoading]="renderConfig.loading"
        [nzTotal]="renderConfig.total"
        [nzPageSize]="renderConfig.pageSize"
        [nzPageIndex]="renderConfig.pageNum"
        nzBordered
        (nzQueryParams)="onQueryParamsChange($event)"
        [nzData]="renderArray"
        [nzFrontPagination]="false">
        <thead>
          <tr>
            <th nzAlign="center">交易/流水号</th>
            <th nzAlign="center">充值方式</th>
            <th nzAlign="center">充值金额（元）</th>
            <th nzAlign="center">时间</th>
            <th nzAlign="center">当前余额（元）</th>
            <th nzAlign="center">状态</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of borderedTable.data" [ngSwitch]="data.status">
            <td nzAlign="center">{{ data.outTradeNo }}</td>
            <td nzAlign="center">{{ data.rechargeMethod }}</td>
            <td nzAlign="center">{{ data.amount|price }}</td>
            <td nzAlign="center">{{ data.createTime }}</td>
            <td nzAlign="center">{{ data.afterBalance|price }}</td>
            <td nzAlign="center" *ngSwitchCase="1">待审核</td>
            <td nzAlign="center" *ngSwitchCase="2">充值成功</td>
            <td nzAlign="center" *ngSwitchCase="3">审核失败</td>
          </tr>
        </tbody>
      </nz-table>
    </section>
  </section>
</section>
