<section class="recharge-record-component">
  <section class="header-info">
    <span class="title-text">充值记录</span>
  </section>
  <section class="context-info">
    <section class="context-list">
      <ng-template #tableTitle1>
        <span class="title-text">充值记录</span>
      </ng-template>
      <nz-table
        [nzTitle]="tableTitle1"
        #borderedTable
        nzBordered
        (nzQueryParams)="renderConfig"
        [nzData]="renderArray"
        [nzFrontPagination]="false">
        <thead>
          <tr>
            <th nzAlign="center">交易/流水号</th>
            <th nzAlign="center">充值方式</th>
            <th nzAlign="center">充值金额（元）</th>
            <th nzAlign="center">时间</th>
            <th nzAlign="center">当前余额（元）</th>
            <th nzAlign="center">状态</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of borderedTable.data">
            <td nzAlign="center">{{ data.outTradeNo }}</td>
            <td nzAlign="center">{{ data.direction }}</td>
            <td nzAlign="center">{{ data.amount }}</td>
            <td nzAlign="center">{{ data.createTime }}</td>
            <td nzAlign="center">{{ data.afterBalance }}</td>
            <td nzAlign="center">{{ data.status }}</td>
          </tr>
        </tbody>
      </nz-table>
    </section>
  </section>
</section>
