<div class="anthor" *ngIf="anthorInfo">
  <div class="anthor-top">
    <div class="anthor-top-img">
      <img [src]="anthorInfo.avatar" alt="">
    </div>
    <div class="anthor-top-name">
      <span>{{anthorInfo.realName}}</span>
    </div>
    <div class="anthor-top-authentication-info">
      <div class="authentication">
        <i nz-icon nzType="mobile"></i><span>手机认证</span>
      </div>
      <div class="authentication">
        <i nz-icon nzType="user"></i><span>实名认证</span>
      </div>
    </div>
  </div>
  <div class="anthor-btm">
    <div class="anthor-btm-money">
      <span>账户余额：</span><span>￥{{anthorInfo.balance}}</span>
    </div>
    <div class="anthor-btm-btn">
      <div class="btn active" routerLink="/main/financial/account-recharge">
        <span>充值</span>
      </div>
      <div class="btn" routerLink="/main/financial/account-withdrawal">
        <span>提现</span>
      </div>
    </div>
  </div>
</div>
