<section class="step5-component">
  <section class="header-info">
    <span class="title-text">第五步：其他</span>
  </section>
  <section class="form-info">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <section nz-row>
        <section nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label [nzSm]="5" [nzXs]="24">追加奖励</nz-form-label>
            <nz-form-control
              [nzSm]="4"
              [nzXs]="6"
              nzErrorTip="请输入追加奖励">
              <ng-template #nzPrefix>
                <i nz-icon nzType="minus" nzTheme="outline"></i>
              </ng-template>
              <nz-input-group [nzAddOnBefore]="nzPrefix" [nzAddOnAfter]="suffixButton">
                <input type="number" nz-input formControlName="price" placeholder="0" />
              </nz-input-group>
              <ng-template #suffixButton>
                <i nz-icon nzType="plus" nzTheme="outline"></i>
              </ng-template>
              <!-- <nz-input-number nz-input [nzMin]="1" [nzStep]="1" formControlName="price"></nz-input-number> -->
            </nz-form-control>
            <button nz-button disabled nzType="text">填入给试客的红包奖励金额</button>
          </nz-form-item>
        </section>
      </section>
      <section nz-row>
        <section nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="checkPassword" nzRequired>定时发布</nz-form-label>
            <nz-form-control [nzSm]="19" [nzXs]="24">
              <!-- <input nz-input type="password" formControlName="checkPassword" id="checkPassword"  [(ngModel)]="radioValue" /> -->
              <nz-radio-group class="custom-check-radio-group" id="checkPassword" formControlName="checkPassword">
                <label class="min-check-radio" nz-radio nzValue="A">不启用</label>
                <label class="min-check-radio" nz-radio nzValue="B">启用</label>
              </nz-radio-group>
            </nz-form-control>
            <button nz-button disabled nzType="text">定时上架的数量总数应该与此任务的总数量一致 （启用此项将收取 0 元 增值费）</button>
          </nz-form-item>
        </section>
      </section>
      <section nz-row>
        <section nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label [nzSm]="5" [nzXs]="12" nzFor="keyword" nzRequired>定时1</nz-form-label>
            <nz-form-control
              [nzSm]="5"
              [nzXs]="6"
              nzErrorTip="请选择时间">
              <nz-date-picker
                nzShowTime
                nzFormat="yyyy-MM-dd HH:mm:ss"
                formControlName="dateTime"
                nzPlaceHolder="请选择时间"
              ></nz-date-picker>
            </nz-form-control>
            <nz-form-control
              class="min-offset-left"
              [nzSm]="5"
              [nzXs]="6"
              nzErrorTip="请输入间隔分钟">
              <input nz-input type="number" formControlName="keyword" placeholder="间隔分钟" />
            </nz-form-control>
            <nz-form-control
              class="min-offset-left"
              [nzSm]="3"
              [nzXs]="4"
              nzErrorTip="请输入发布单数">
              <input nz-input type="number" formControlName="keyword" placeholder="发布单数" />
            </nz-form-control>
            <button nz-button class="min-offset-left">增加</button>
          </nz-form-item>
        </section>
      </section>
      <section nz-row>
        <section nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label [nzSm]="5" [nzXs]="12" nzFor="keyword" nzRequired>留言提醒</nz-form-label>
            <nz-form-control
              [nzSm]="16"
              [nzXs]="6"
              nzErrorTip="请输入留言提醒">
              <input nz-input type="text" formControlName="keyword" placeholder="留言提醒" />
            </nz-form-control>
          </nz-form-item>
        </section>
      </section>
    </form>
  </section>
</section>
