<section class="account-recharge-component">
  <section class="header-info">
    <span class="title-text">账户提现</span>
  </section>
  <section class="recharge-type">
    <span class="title-text">第一步：选择充值方式</span>
  </section>
  <section class="form-info">
    <nz-tabset>
      <nz-tab nzTitle="支付宝充值">
        <swipe-alipay></swipe-alipay>
      </nz-tab>
      <nz-tab nzTitle="微信充值">
        <swipe-wechat></swipe-wechat>
      </nz-tab>
      <nz-tab nzTitle="网银充值">
        <swipe-bank></swipe-bank>
      </nz-tab>
    </nz-tabset>
  </section>
</section>
