<section class="account-recharge-component">
  <section class="header-info">
    <span class="title-text">账户充值</span>
  </section>
  <section class="recharge-type">
    <span class="title-text">第一步：选择充值方式</span>
  </section>
  <section class="form-info">
    <nz-tabset>
      <nz-tab nzTitle="支付宝充值">
        <swipe-alipay [renderInfo]="renderInfo.alipay"></swipe-alipay>
      </nz-tab>
      <nz-tab nzTitle="微信充值">
        <swipe-wechat [renderInfo]="renderInfo.wechat_pay"></swipe-wechat>
      </nz-tab>
      <nz-tab nzTitle="网银充值">
        <swipe-bank [renderInfo]="renderInfo.bank_card"></swipe-bank>
      </nz-tab>
    </nz-tabset>
  </section>
</section>
