<section class="published-list-component">
  <section class="header-info">
    <span class="title-text">已发任务</span>
  </section>
  <section class="context-info">
    <section class="itro-text">
      <span class="label-text">1. 在已发布任务区，您可以查看和操作所有自己发布的任务及任务操作进度；</span>
      <span class="label-text">2. 买方上传收货好评截图后需要商家您进行确认。</span>
    </section>
    <section class="filter-form">
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label>任务搜索</nz-form-label>
          <nz-form-control class="custom-search-group" [nzSm]="21" [nzXs]="24">
            <nz-select class="custom-select-input" formControlName="checkType">
              <nz-option [nzLabel]="'任务编号'" [nzValue]="1"></nz-option>
              <nz-option [nzLabel]="'掌柜号'" [nzValue]="2"></nz-option>
            </nz-select>
            <nz-input-group nzSearch [nzAddOnAfter]="addOnAfterTemplate">
              <input type="text" class="custom-search-input" formControlName="checkValue" nz-input placeholder="请输入相关信息" />
            </nz-input-group>
            <ng-template #addOnAfterTemplate>
              <button nz-button nzType="primary" type="submit" nzSearch>搜索</button>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </form>
    </section>
    <section class="context-list">
      <section class="task-carc-info" *ngFor="let item of renderArray">
        <section class="header-info">
          <span class="lable-text">订单编号：{{item.taskCode}}</span>
          <span class="time-text">发布时间：{{item.createTime}}</span>
        </section>
        <section class="content-info">
          <section class="product-info">
            <img class="product-img" [src]="item.image" alt="/">
            <section class="product-intro">
              <span class="label-text">{{item.title}}</span>
              <span class="label-text">{{item.shopTitle}}</span>
              <!-- <span class="label-text">{{item.shopTitle}}</span> -->
            </section>
          </section>
          <section class="task-intro">
            <span class="label-text">任务金额：￥{{item.commission|price}}</span>
            <!-- <span class="label-text">收货时限：{{item.d}}</span> -->
            <span class="label-text">任务要求：{{handlerRequire(item)}}</span>
          </section>
          <section class="task-status" [ngSwitch]="item.status">
            <span class="status-text" *ngSwitchCase="0">创建中</span>
            <span class="status-text" *ngSwitchCase="1">待审核</span>
            <span class="status-text" *ngSwitchCase="2">审核成功</span>
            <span class="status-text" *ngSwitchCase="3">审核失败</span>
            <span class="status-text" *ngSwitchCase="4">进行中</span>
            <span class="status-text" *ngSwitchCase="5">已完成</span>
            <span class="status-text" *ngSwitchCase="6">已锁定</span>
          </section>
          <section class="task-handler">
            <button class="handler-btn" nz-button nzType="text">详情</button>
            <button class="handler-btn" nz-button nzType="text">删除</button>
            <button class="handler-btn" nz-button nzType="text">下架</button>
          </section>
        </section>
        <section class="footer-info">
          <span class="lable-text">任务编号：232030232385143</span>
        </section>
      </section>
    </section>
    <nz-pagination class="custom-pagination" [nzPageIndex]="renderConfig.pageNum" [nzPageSize]="renderConfig.pageSize" [nzTotal]="renderConfig.total" nzShowQuickJumper (nzPageIndexChange)="onPageIndexChange($event)" (nzPageSizeChange)="onPageSizeChange($event)"></nz-pagination>
  </section>
</section>
